@import url('https://fonts.googleapis.com/css?family=Montserrat:300i,400,400i,500,500i,600,600i,700,700i,800,800i,900|Poppins:400,400i,500,500i,600,600i,700');

.news{font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}


/*faq css*/

.FAQ__answer {
  position: absolute;
  opacity: 0;
  z-index: -1;
}


.container {
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
}

.section__headline {
  font-family: "Varela Round", sans-serif;
  font-size: 35px;
  font-weight: light;
  color: black;
  padding-left: 15px;
  padding-top: 30px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}

.FAQs__headline {
  font-family: "Varela Round", sans-serif;
  text-align: left;
  padding-left: 15px;
  font-size: 1.5em;
  margin-top: 1.5em;
  font-weight: bold;
}

.FAQs {
  margin: 15px 0;
  padding: 0 15px;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
}

.FAQ {
  font-family: "Varela Round", sans-serif;
  list-style: none;
  margin: 10px 0 5px;
}

.FAQ__title {
  cursor: pointer;
  font-weight: 500;
  background: white;
  z-index: 10;
  position: relative;
  font-size: 1.1em;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  color: black;
}
.FAQ__title:hover {
  text-decoration: underline;
}
.FAQ__title::after {
  white-space: nowrap;
  font-weight: 300;
  padding-left: 5px;
  opacity: 0;
  -webkit-transform-origin: 11px;
          transform-origin: 11px;
  -webkit-transform: rotateZ(90deg);
          transform: rotateZ(90deg);
  display: none;
  content: ">";
}

.FAQ--active .FAQ__title {
  color: #ff5555;
}
.FAQ--active .FAQ__title::after {
  opacity: 1;
  -webkit-transform: rotateZ(90deg);
          transform: rotateZ(90deg);
  display: inline-block;
}

.FAQ__answer {
  font-weight: normal;
  margin-top: -10%;
  transition: all 0.1s;
  z-index: 1;
  font-size: 0.9em;
  color: #505050;
}

.FAQ--active .FAQ__answer {
  opacity: 1;
  position: relative;
  top: 0;
  left: 0;
  font-weight: 300;
  margin-top: 5px;
  margin-bottom: 10px;
  transition: all 0.2s;
  border-radius: 3px;
  border: 1px solid #f1f2f3;
  border-top: 1px solid #ff5555;
  padding: 20px;
}

@media (min-width: 780px) {
  .FAQs {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    height: auto;
  }

  .FAQs::before {
    opacity: 0.2;
  }

  .FAQ {
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .FAQ .FAQ__title {
    width: 50%;
    padding-right: 40px;
    display: inline-block;
  }
  .FAQ .FAQ__title::after {
    display: none;
  }
  .FAQ .FAQ__answer {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    left: 50%;
    width: 50%;
    border-left-color: #ff5555;
    border-top-color: #f1f2f3;
  }
}
/*faq css ends*/

/*news ticker*/
.iframe2{
    float: right;
  }
  @media (max-width: 1200px){
    .iframe2{
      width: 100%;
      float: right;
    }
    
  }
/*news ticker*/
.city_top_logo figure {
  width: auto;
  width: 50px;
  height: 70px;
  margin-top: 10px;
}

.btn-hover{
  text-decoration: none;
  color: rgba(255, 255, 255, 0.8);
  background: rgb(145, 92, 182);
  padding: 12px 40px;
  border-radius: 4px;
  font-weight: normal;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
}
.btn-hover {
    width: 200px;
    font-size: 14px;
    font-weight: 400;
    color: #fff;
    cursor: pointer;
    margin: 9px;
    height: 45px;
    text-align:center;
    border: none;
    background-size: 300% 100%;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:focus {
    outline: none;
}

.btn-hover {
    background-image: linear-gradient(to right, #ff4800 , gold);
    box-shadow: 0 4px 15px 0 rgba(196, 125, 49, 0.75);
    padding: 10px 92px 10px;
}
.btn-hover2{
  text-decoration: none;
  color: rgba(255, 255, 255, 0.8);
  background: rgb(145, 92, 182);
  padding: 12px 40px;
  border-radius: 4px;
  font-weight: normal;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
}
.btn-hover2 {
    width: 200px;
    font-size: 14px;
    font-weight: 400;
    color: #fff;
    cursor: pointer;
    margin: 9px;
    height: 45px;
    text-align:center;
    border: none;
    background-size: 300% 100%;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover2:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover2:focus {
    outline: none;
}

.btn-hover2 {
    background: linear-gradient(to right, rgb(50, 151, 215) 0px, rgb(31, 120, 211) 100%);
    box-shadow: rgba(32, 120, 211, 0.6) 0px 8px 29px 0px;
/*    padding: 10px 92px 10px;*/
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}
.small_btn{
  background: linear-gradient(to right, rgb(50, 151, 215) 0px, rgb(31, 120, 211) 100%);
  box-shadow: rgba(32, 120, 211, 0.6) 0px 8px 29px 0px;
  color: white; 
  border-radius: 20px;
  padding: 10px;
}
.small_btn2{
background: linear-gradient(to right, rgb(50, 151, 215) 0px, rgb(31, 120, 211) 100%);
box-shadow: rgba(32, 120, 211, 0.6) 0px 8px 29px 0px;
color: white; 
border-radius: 20px;
padding: 10px;
margin-left: 12rem;
}
/*phone icon*/
.wrapper2 .button {
  display: inline-block;
  height: 60px;
  width: 59px;
  margin: 0 5px;
  overflow: hidden;
/*  background: #fff;*/
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0px 10px 10px #000;
  transition: all 0.3s ease-out;
  background: linear-gradient(to right, rgb(43, 226, 245) 0px, rgb(9, 116, 225) 100%);
box-shadow: rgba(32, 120, 211, 0.6) 0px 8px 29px 0px;
color: rgb(255, 255, 255);
}
.wrapper2 .button:hover {
  width: 200px;
}
.wrapper2 .button .icon{
  display: inline-block;
  height: 60px;
  width: 60px;
  text-align: center;
  border-radius: 50px;
  box-sizing: border-box;
  line-height: 60px;
  transition: all 0.3s ease-out;
}
.wrapper2 .button:nth-child(1):hover .icon{
  background: linear-gradient(to right, rgb(106, 43, 245) 0px, rgb(13, 21, 30) 100%);
}

.wrapper2 .button .icon i{
  font-size: 25px;
  line-height: 60px;
  transition: all 0.3s ease-out;
  color: #fff;
}
.wrapper2 .button:hover .icon i{
  color: #fff;
}
.wrapper2 .button span{
  font-size: 20px;
  font-weight: 500;
  line-height: 60px;
  margin-left: 10px;
  transition: all 0.3s ease-out;
}
.wrapper2 .button:nth-child(1) span{
  background: linear-gradient(to right, #fcc9b1 10%, #f097c7 20%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;

}
/*phone icon ends*/

.date{
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
        color: #010506;
      }


.city_request_list{
    border-radius: 10px;
    width: 100%;
}
.city_top_logo2{
    margin-top: 30px;
    margin-left: -280px;
    width: 25%;
    float: left;
  }
/*login button*/

  
.city_top_wrap {
 
 background-image: url('../images/banner.webp');
}

.wrapper1{
  display: inline-flex;
}
.wrapper .icon{
  margin: 0 20px;
  text-align: center;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  z-index: 2;
  transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.wrapper .icon span{
  display: block;
  height: 40px;
  width: 40px;
  background: linear-gradient(to right, rgb(206, 83, 55) 0px, rgb(155, 31, 211) 100%);
box-shadow: rgba(32, 120, 211, 0.6) 0px 8px 29px 0px;
color: rgb(255, 255, 255);
  border-radius: 50%;
  position: relative;
  z-index: 2;
  box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
  transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.wrapper .icon span i{
  line-height: 40px;
  font-size: 20px;
}
.wrapper .icon .tooltip{
  position: absolute;
  top: 0;
  z-index: 1;
  background: #fff;
  color: #fff;
  padding: 7px 12px;
  font-size: 17px;
  font-weight: 500;
  border-radius: 25px;
  opacity: 0;
  pointer-events: none;
  box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
  transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.wrapper .icon:hover .tooltip{
  top: 40px;
  opacity: 1;
  pointer-events: auto;
}

.wrapper .icon:hover span{
  color: #fff;
}
.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip{
  text-shadow: 0px -1px 0px rgba(0,0,0,0.4);
}

.wrapper .user:hover span,
.wrapper .user:hover .tooltip,
.wrapper .user:hover .tooltip:before{
  background: linear-gradient(to right, rgb(50, 151, 215) 0px, rgb(31, 120, 211) 100%);
box-shadow: rgba(32, 120, 211, 0.6) 0px 8px 29px 0px;
color: rgb(255, 255, 255);
}
.wrapper .twitter:hover span,
.wrapper .twitter:hover .tooltip,
.wrapper .twitter:hover .tooltip:before{
  background: linear-gradient(to right, rgb(50, 151, 215) 0px, rgb(31, 120, 211) 100%);
box-shadow: rgba(32, 120, 211, 0.6) 0px 8px 29px 0px;
color: rgb(255, 255, 255);
}
/*login button end*/

/*phone*/
.wrapper2{
  display: inline-flex;
  color: white;
}
.wrapper2 .icon span{
background: linear-gradient(to right, rgb(50, 151, 215) 0px, rgb(31, 120, 211) 100%);
box-shadow: rgba(32, 120, 211, 0.6) 0px 8px 29px 0px;

}
/*phone ends*/

/*search button*/

  .search_ani{
  position: absolute;
  left: 5%;
  
  transform: translate(-50%, -50%);
  padding: 10px;
}
 .button_search {
  outline: none;
  box-sizing: border-box;
  height: 35px;
  width: 0px;
  padding: 0 0px;
  margin-top: 1.5px;
  color: black;
  border-radius: 50px;
  font-size: 16px;
  border: 1px solid #1961B6;
  transition: all .7s ease; 
}
::placeholder{
  color: grey;
}
.btn-2{
  position: absolute;
  right: 0px;
    top: 10px;
  width: 45px;
  height: 45px;
  background: linear-gradient(to right, rgb(149, 31, 215) 0px, rgb(31, 120, 211) 100%);
box-shadow: rgb(200, 77, 73) 0px 8px 29px 0px;
  line-height: 50px;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
  transition: .5s;
}
.btn-2 i{
  font-size: 25px;
  color: white;
  line-height: 50px;
  transition: all .7s ease;
}
.search_ani:hover .button_search{
  width: 250px;
}
.search_ani:hover i{
  transform: rotate(-360deg);
}
.btn-2:hover{
  background: linear-gradient(to right, rgb(50, 151, 215) 0px, rgb(31, 120, 211) 100%);
box-shadow: rgba(32, 120, 211, 0.6) 0px 8px 29px 0px;
}
/*search-button ends*/
  @media (min-width: 300px) and (max-width: 398px)
{
  .city_top_logo2{
    width: 80%;
    margin-left: -30px;
  }
  .search_ani{
  position: absolute;
  left: 45%;
}
 .button_search {
  outline: none;
  box-sizing: border-box;
  height: 45px;

}
}
@media (min-width: 400px) and (max-width: 500px)
{
  .city_top_logo2{
    width: 80%;
    margin-left: -30px;
  }
  .search_ani{
  position: absolute;
  left: 45%;
}
 .button_search {
  outline: none;
  box-sizing: border-box;
  height: 45px;

}
}
@media (min-width: 500px) and (max-width: 600px)
{
  .city_top_logo2{
     margin-left: -50px;
     width: 80%;
   }
     .search_ani{
  position: absolute;
  left: 53%;
}
 .button_search {
  outline: none;
  box-sizing: border-box;
  height: 45px;

}
}
@media (min-width: 600px) and (max-width: 650px)
{
  .city_top_logo2{
     margin-left: -60px;
     width: 60%;
   }
     .search_ani{
  position: absolute;
  left: 45%;
}
 .button_search {
  outline: none;
  box-sizing: border-box;
  height: 45px;

}
}
@media (min-width: 650px) and (max-width: 800px)
{
  .city_top_logo2{
     margin-left: -80px;
     width: 50%;
   }
     .search_ani{
  position: absolute;
  left: 55%;
}
 .button_search {
  outline: none;
  box-sizing: border-box;
  height: 45px;

}
}
@media (min-width: 800px) and (max-width: 920px)
{
  .city_top_logo2{
     margin-left: -100px;
     width: 35%;
   }
     .search_ani{
  position: absolute;
  left: 45%;
}
 .button_search {
  outline: none;
  box-sizing: border-box;
  height: 45px;

}
}
@media (min-width: 920px) and (max-width: 948px)
{
  .city_top_logo2{
     margin-left: -120px;
     width: 35%;
   }
     .search_ani{
  position: absolute;
  left: 45%;
}
 .button_search {
  outline: none;
  box-sizing: border-box;
  height: 45px;

}
}
@media (min-width: 949px) and (max-width: 998px)
{
  .city_top_logo2{
     margin-left: -130px;
     width: 35%;
   }
     .search_ani{
  position: absolute;
  left: 45%;
}
 .button_search {
  outline: none;
  box-sizing: border-box;
  height: 45px;

}
}
@media (min-width: 1000px) and (max-width: 1199px)
{
  .city_top_logo2{
     margin-left: -170px;
     width: 35%;
   }
     .search_ani{
  position: absolute;
  left: 45%;
}
 .button_search {
  outline: none;
  box-sizing: border-box;
  height: 45px;

}
}
@media (min-width: 1200px) and (max-width: 1300px)
{
  .city_top_logo2{
     margin-left: -150px;
     width: 35%;
   }
     .search_ani{
  position: absolute;
  left: 45%;
}
 .button_search {
  outline: none;
  box-sizing: border-box;
  height: 45px;

}
}
@media (min-width: 1300px) and (max-width: 1500px)
{
  .city_top_logo2{
     margin-left: -175px;
     width: 35%;
   }
     .search_ani{
  position: absolute;
  left: 45%;
}
 .button_search {
  outline: none;
  box-sizing: border-box;
  height: 45px;

}
}
@media (min-width: 1501px) and (max-width: 1700px)
{
  .city_top_logo2{
     margin-left: -200px;
     width: 35%;
   }
     .search_ani{
  position: absolute;
  left: 20%;
}
 .button_search {
  outline: none;
  box-sizing: border-box;
  height: 45px;

}
}
@media (min-width: 1701px) and (max-width: 1900px)
{
  .city_top_logo2{
     margin-left: -245px;
     width: 35%;
   }
     .search_ani{
  position: absolute;
  left: 5%;
}
 .button_search {
  outline: none;
  box-sizing: border-box;
  height: 45px;

}
}
  @media only screen  and (max-width: 1200px) {
.iframe{
  width: 100%;
  float: right;
}
}
 @media (max-width: 780px) {
  
  .scroll{
    width: 100%;
  }
}
/*pagination */

.btn {
  height:60px;
  width:60px;
  text-align:center;
  line-height:60px;
/*  background-color:#f2f2f2;*/
  display:inline-block;
  color:white;
  font-size:15px;
  background: linear-gradient(to right, rgb(50, 151, 215) 0px, rgb(31, 120, 211) 100%);*/
  box-shadow: rgba(32, 120, 211, 0.6) 0px 8px 29px 0px;
/*  padding: 10px 92px 10px;*/
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  border-radius: 10px;
}


.active, .btn:hover {
  background-color: black;
  box-shadow: rgba(32, 120, 211, 0.6) 0px 8px 29px 0px;
  color: white;
}
.show-read-more .more-text{
        display: none;

    }
    
    .show-read-more{
      font-size: 18px;
    }
    .blogpara{
      font-size: 15px;
    }
/*pagination ends*/
 @media (max-width: 1200px) and (min-width:700px)
    {
      .btn-hover{
    padding: 10px 56px 10px;
      }
    }


